{% extends "base.html" %}

{% block content %}
<h3>{{ title }} </h3>

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
        <p>
          {{ form.R1popRatio }}<br>
	  {{ form.R1popRatio(size=32) }}
        </p>
        <p>
            {{ form.R2popRatio }}<br>
            {{ form.R2popRatio(size=32) }}
        </p>
        <p>
            {{ form.growthRate }}<br>
            {{ form.growthRate(size=32) }}
        </p>
        <p>
            {{ form.S_D1senRatio }}<br>
            {{ form.S_D1senRatio(size=32) }}
        </p>
        <p>
            {{ form.S_D2senRatio }}<br>
            {{ form.S_D2senRatio(size=32) }}
        </p>
        <p>
            {{ form.R1_D1senRatio }}<br>
            {{ form.R1_D1senRatio(size=32) }}
        </p>
        <p>
            {{ form.R2_D2senRatio }}<br>
            {{ form.R2_D2senRatio(size=32) }}
        </p>
        <p>
            {{ form.S_to_R1 }}<br>
            {{ form.S_to_R1(size=32) }}
        </p>
        <p>
            {{ form.S_to_R2 }}<br>
            {{ form.S_to_R2(size=32) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
